#darkMode {
  background: transparent url("../../images/Darkmode.svg") no-repeat center;
  margin-top: 7px;
  width: 70px;
  height: 45px;
  border: none;
  transition: 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none ;
  background: transparent url("../../images/light mode.svg") no-repeat center;
}
