#darkMode {
  background: transparent url("../../images/Darkmode.svg") no-repeat center;
  width: 50px;
  height: 22px;
  border: none;
  transition: 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none;
  background: transparent url("../../images/light mode.svg") no-repeat center;
}


#lightMode {
  background: transparent url("../../images/light mode.svg") no-repeat center;
  width: 50px;
  height: 22px;
  border: none;
  transition: 0.3s ease-in-out;
}

#lightMode:hover,
#lightMode:focus {
  filter: none;
  cursor: pointer;
}

#lightMode.clicked {
  filter: none;
  background: transparent url("../../images/Darkmode.svg") no-repeat center;
}
