@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: #ffffff;
}

body,
button,
html,
input,
select,
textarea,
div,
p,
span,
label {
  font-family: "Raleway", sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body,
button,
html,
input,
select,
textarea,
div,
p,
span,
label {
  /* font-family: "SFProText", "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif" !important; */
  font-family: "Raleway", sans-serif !important;
}
.dropdown {
  margin-top: 25px;
  background-color: #000000;
  position: absolute;
}
.dropdown1 {
  margin-top: 40px;
  background-color: #000000;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.dpdown {
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-family: Raleway;
  font-size: 18px;
  color: #ffffff;
  background: transparent;
  margin-left: 20px;
}
input:focus {
  border: solid 1px #0099ff;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

/*Cursor-CSS*/

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
/* g {
  outline: solid 4px #4c4f6c;
  outline-offset: 1px;
  border: "solid 1px #4c4f6c";
  background-color: "#4c4f6c";
} */

/*Borders*/
.b-1-blue {
  border: 1px solid #0052cc;
}

.b-1-white {
  border: 1px solid #e6e6e6;
}

/*Border-radius*/
.br-4 {
  border-radius: 4px;
}

/*Font-sizes*/

.fs-sm {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-40 {
  font-size: 40px;
}

/*Font-color*/

.fc-warm-grey {
  color: #999999;
}

.fc-blue {
  color: #0052cc !important;
}

.fc-dark-slate-blue {
  color: #172b4d;
}

.fc-white {
  color: #ffffff !important;
}

.fc-black {
  color: #000000;
}

.fc-blue-grey {
  color: #5e6c84;
}

.fc-red {
  color: red;
}

.fc-brownish-grey {
  color: #666666;
}

.fc-dusky-blue {
  color: #465d85;
}

/*Background-color*/

.bg-blue {
  background-color: #0052cc !important;
}

/*Width-CSS*/

.outline-none {
  outline: none !important;
}

/*Width-CSS*/

.w-150 {
  width: 150px;
}

.w-450 {
  width: 450px;
}

.w-250 {
  width: 250px;
}

.z-index-100 {
  z-index: 100;
}

.text-transform-capitalize {
  text-transform: capitalize !important;
}

.input-border {
  border: solid 1px #dfe1e6;
  border-radius: 2px;
  background-color: #fafbfc;
}

.checkbox-border {
  border-radius: 2px;
  border: solid 1px #b9bbc2;
  background-color: #ffffff;
}

.subscription-plan-card-shadow {
  box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.07);
}
.savingSpeed {
  /* letter-spacing: normal;
  text-align: left;
  color: #09184b; */
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 10px;
  margin-top: -8px;
}
.savingSpeed-one {
  /* letter-spacing: normal;
  text-align: left;
  color: #09184b; */
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 10px;
  margin-top: -8px;
}
/* .saveSpeed {
  font-family: Raleway;
  margin-top: 5px;
  font-size: 1rem;
  padding-bottom: 10px;
  margin-top: -8px;
} */

.savingSpeed-dark-mode {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  margin-top: -8px;
}
.savingSpeed-one-dark-mode {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  margin-top: -8px;
}

.saveSpeed {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: #3366ff;
}

.saveSpeed-dark-mode {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.saveSpeed-one {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
}

.saveSpeed-one-dark-mode {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.readSpeed {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: #10ca93;
}

.readSpeed-dark-mode {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.readSpeed-one {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
}

.readSpeed-one-dark-mode {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.w-100 {
  width: 100%;
}

.writing-graph {
  width: 100%;
  height: 105px;
  padding: 26px 14px 29.6px 26px;
  border-radius: 5px;
  background-color: #ffffff;
}

.reading-paper {
  text-align: "center";
  margin-left: "5px";
  margin-top: "10px";
  padding: "20px 14px 29.6px 26px";
}

.writing-data {
  margin-left: 8%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #09184b;
}

.writing-data-dark-mode {
  margin-left: 8%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
.writing-data-one {
  margin-left: 8%;
  margin-top: -23%;

  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #09184b;
}

.writing-data-one-dark-mode {
  margin-left: 8%;
  margin-top: -93px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.reading-data {
  margin-left: 3%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #09184b;
}

.reading-data-dark-mode {
  margin-left: 3%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
.reading-data-one {
  margin-left: 9%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #09184b;
}

.reading-data-one-dark-mode {
  margin-left: 9%;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.hover-data {
  color: #0d0e2d;
}

.link-grid {
  display: flex;
  justify-content: center;
}

.link-grid-2 {
  display: flex;
  justify-content: center;
}

.link-grid-3 {
  display: flex;
  justify-content: center;
}

.link-grid-paper {
  margin-left: -20px;
}

.link-grid-paper-2 {
  background-color: "#191d43";
  margin-left: 30px;
}

.link-text {
  /* background-color: red; */
  padding-left: 50px;
  /* margin-left: 80px; */
}

.follow-text {
  background-color: transparent;
}

/* Map hash section */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 110%;
  background: #ffffff;
  border: none;
  /* padding: 0 20px; */
}

.dark-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 110%;
  background: #191d43;
  color: "white";
  border: none;
  /* padding: 0 20px; */
}
.block {
  justify-content: space-between;
  display: flex;
  border-bottom: solid 1px #e3e7eb;
  width: 103%;
  height: 22px;
  margin-top: 20px;
}
.blocks {
  justify-content: space-between;
  display: flex;
  width: 102%;
  height: 27px;
  margin-top: 0px;
  margin-left: 14px;
  padding-top: 15px;
}

.dark-block {
  justify-content: space-between;
  display: flex;
  border-bottom: solid 1px #e3e7eb;
  width: 98%;
  /* height: 65px; */
  margin-top: 15px;
  margin-left: 15px;
}
.dark-blocks {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-top: 15px;
  height: 22px;
  margin-top: 20px;
  margin-left: 15px;
}

.bloc-tabs {
  width: 20%;
  display: flex;
  background-color: #2149b9;
}
.switch {
  width: 37%;
  display: flex;
}

.tabs {
  padding-bottom: 7px;
  color: #b5bac7;
  text-align: center;
  width: 80%;
  cursor: pointer;
  position: relative;
  font-size: 11px;
  background: #fff;
  cursor: pointer;
  padding-left: 0px;
  font-weight: 600;
  letter-spacing: 0.65px;
}

.dark-tabs {
  padding-bottom: 7px;
  color: #b5bac7;
  background-color: #191d43;
  text-align: center;
  width: 80%;
  cursor: pointer;
  position: relative;
  font-size: 11px;
  background: #fff;
  cursor: pointer;
  padding-left: 0px;
  font-weight: 600;
  letter-spacing: 0.65px;
}

.active-tabs {
  color: #2149b9;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 73.5px;
  height: 1px;
  /* border: solid 1px #2149b9;
  background: #2149b9;  */
}

.content {
  padding-top: 10px;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
}

.dark-content {
  padding-top: 10px;
  background: #191d43;
  width: 100%;
  height: 100%;
  display: none;
  margin-left: 15px;
}

.active-content {
  display: block;
  width: 100%;
}
.dark-active-content {
  display: block;
  width: 100%;
}

.root-list {
  background-color: "white";
  color: #000000;
}

.root-list-dark-mode {
  background-color: "#191d43";
  color: "#fffff";
}

.powered-paper {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  box-shadow: none;
  margin-top: 8px;
  font-weight: 500;
  line-height: 1.08;
  border-radius: 0px;
  margin-right: 50px;
}

.powered-text {
  margin-top: 17px;
  margin-left: 10px;
  letter-spacing: 0.59px;
}

.cross-parent {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-grow: 0.94;
}

.cross-image {
  cursor: pointer;
  width: 24;
  height: 24;
  color: white;
}
.content-tabs {
  margin-right: 18px;
}

.cards {
  /* width : 100%; */
  margin: 0 auto;
  display: grid;
  margin-left: 15%;
  /* grid-gap: 5rem; */
  justify-content: space-between;
}

@media (min-width: 767px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .powered-paper {
    margin-left: 50px;
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 0px) and (max-width: 299px) {
  .link-text {
    background-color: transparent;
    /* margin-left: -60px; */
  }
  .follow-text {
    background-color: transparent;
    margin-left: -110px;
  }
  .powered-paper {
    margin-left: -30px;
  }
}

@media (min-width: 300px) and (max-width: 599px) {
  .link-text {
    background-color: transparent;
    margin-left: -67px;
  }
  .follow-text {
    background-color: transparent;
    margin-left: -120px;
  }
  .powered-paper {
    margin-left: -63px;
    flex-direction: column-reverse;
  }
  .powered-text {
    margin-top: 0px;
    margin-left: 5px;
    letter-spacing: 0.59px;
    margin-bottom: 14px;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .link-text {
    background-color: transparent;
    margin-left: -45px;
  }
  .powered-paper {
    margin-left: 0px;
    flex-direction: column-reverse;
  }

  .follow-text {
    background-color: transparent;
    margin-left: -56px;
  }
  .powered-text {
    margin-top: 0px;
    margin-left: 5px;
    letter-spacing: 0.59px;
    margin-bottom: 14px;
  }
}
@media (min-width: 300px) and (max-width: 599px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 4%;
    /* grid-gap: 5rem; */
    justify-content: space-between;
  }
}
@media (min-width: 599px) and (max-width: 766px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 10%;
    /* grid-gap: 5rem; */
    justify-content: space-between;
  }
}
@media (max-width: 766px) {
  .writing-data {
    margin-left: 0px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #09184b;
  }

  .writing-data-dark-mode {
    margin-left: 0px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
  .reading-data {
    margin-left: 0%;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #09184b;
  }

  .reading-data-dark-mode {
    margin-left: 0%;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
}

/* @media (min-width: 1000px) and (max-width: 1100px){
  .cards {
    width : 100%;
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 3rem;
    justify-content: space-between;
  }
} */

@media (min-width: 1101px) and (max-width: 1300px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 3rem;
    justify-content: space-between;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 7rem;
    justify-content: space-between;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 9rem;
    justify-content: space-between;
  }
}

@media (min-width: 1701px) and (max-width: 2000px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 15rem;
    justify-content: space-between;
  }
}

@media (min-width: 2001px) and (max-width: 2200px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 22rem;
    justify-content: space-between;
  }
}

@media (min-width: 2201px) and (max-width: 2500px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 26rem;
    justify-content: space-between;
  }
}

@media (min-width: 2501px) {
  .cards {
    /* width : 100%; */
    margin: 0 auto;
    display: grid;
    margin-left: 15%;
    grid-gap: 32rem;
    justify-content: space-between;
  }
}

/* .dark-mode{
  background: red;
  color: white;
}

.light-mode{
  background: transparent;
  color: black;
} */

.empty-div {
  display: flex;
  flex-direction: row;
  width: 10%;
  /* height: 44px; */
  margin-left: 12%;
  margin-top: 9px;
  padding: 14px 25.1px 14px 25px;
  border-radius: 6px;
  background-color: #222864;
}

.dashboard-name {
  margin: 2px 0 0 7.1px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.img-parent {
  margin-top: -5px;
  margin-left: -10px;
}
.home-image {
  height: 24px;
  width: 24px;
}
